<a href="https://colab.research.google.com/github/yaadwinder236/yaadwinder236/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# loading the dataset to a Pandas DataFrame
total = pd.read_csv('/content/drive/MyDrive/Study/credit_data.csv')

In [6]:
# first 5 rows of the dataset
total.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [7]:
total.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [8]:
# dataset informations
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
# checking the number of missing values in each column
total.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
# distribution of legit transactions & fraudulent transactions
total['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [11]:
# separating the data for analysis
genuine = total[total.Class == 0]
fraud = total[total.Class == 1]

In [12]:
print(genuine.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [13]:
# statistical measures of the data
genuine.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transactions
total.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [17]:
genuine_sample = genuine.sample(n=492)

Concatenating two DataFrames

In [25]:
data_new = pd.concat([genuine_sample, fraud], axis=0)

In [26]:
data_new.head()

            Time        V1        V2  ...       V28   Amount  Class
243762  152062.0  2.152623 -0.804476  ... -0.074181    39.00      0
100960   67678.0 -1.627442  0.536149  ...  0.290094   103.19      0
151784   96243.0 -2.359879 -1.298524  ... -0.147201    14.00      0
50606    44566.0  1.280514 -0.184432  ... -0.014659    38.34      0
83537    59904.0 -1.019998 -4.463244  ...  0.207323  1253.00      0

[5 rows x 31 columns]

In [27]:
data_new.tail()

            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [28]:
data_new['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [29]:
data_new.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      93540.123984 -0.130825  0.047836  ... -0.037632  0.019106   84.621362
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Splitting the data into Features & Targets

In [30]:
X = data_new.drop(columns='Class', axis=1)
Y = data_new['Class']

In [31]:
print(X)

            Time        V1        V2  ...       V27       V28   Amount
243762  152062.0  2.152623 -0.804476  ... -0.061571 -0.074181    39.00
100960   67678.0 -1.627442  0.536149  ...  0.312077  0.290094   103.19
151784   96243.0 -2.359879 -1.298524  ...  0.293096 -0.147201    14.00
50606    44566.0  1.280514 -0.184432  ... -0.098370 -0.014659    38.34
83537    59904.0 -1.019998 -4.463244  ... -0.306854  0.207323  1253.00
...          ...       ...       ...  ...       ...       ...      ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968   390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637     0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361    77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700   245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309    42.53

[984 rows x 30 columns]

In [32]:
print(Y)

243762    0
100960    0
151784    0
50606     0
83537     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data & Testing Data

In [33]:
X_train1, X_test1, Y_train1, Y_test1 = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [37]:
lrmodel = LogisticRegression()

In [38]:
# training the Logistic Regression Model with Training Data
lrmodel.fit(X_train1, Y_train1)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

Accuracy Score

In [41]:
# accuracy on training data
X_train_prediction = lrmodel.predict(X_train1)
accuracy_on_trainingdata = accuracy_score(X_train_prediction, Y_train1)

In [42]:
print('Model Accuracy on Training data : ', accuracy_on_trainingdata)

Model Accuracy on Training data :  0.9415501905972046

In [46]:
# accuracy on test data
X_test_prediction = model.predict(X_test1)
accuracy_testdata = accuracy_score(X_test_prediction, Y_test1)

In [48]:
print('Accuracy score on Test Data : ', accuracy_testdata)

Accuracy score on Test Data :  0.934010152284264